<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>2p.png</key>
			<dict>
				<key>frame</key>
				<string>{{2528,3336},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>2p_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,3992},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>BackBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,1966},{586,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,98}}</string>
				<key>sourceSize</key>
				<string>{586,98}</string>
			</dict>

			<key>BlueBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,1864},{586,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,98}}</string>
				<key>sourceSize</key>
				<string>{586,98}</string>
			</dict>

			<key>CrashBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,854},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>

			<key>EdgeBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,3974},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>

			<key>EmptyBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2170},{586,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,98}}</string>
				<key>sourceSize</key>
				<string>{586,98}</string>
			</dict>

			<key>GreenBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,1762},{586,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,98}}</string>
				<key>sourceSize</key>
				<string>{586,98}</string>
			</dict>

			<key>RedBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2272},{586,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,98}}</string>
				<key>sourceSize</key>
				<string>{586,98}</string>
			</dict>

			<key>YellowBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2068},{586,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,98}}</string>
				<key>sourceSize</key>
				<string>{586,98}</string>
			</dict>

			<key>a_black_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2522,2426},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>a_black_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>a_blue_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2424,3034},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>a_yellow_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2220,2430},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>audioOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{2708,1822},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>audioOff_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2708,1718},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>audioOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2708,1926},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>audioOn_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2722,812},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{850,850}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{850,850}}</string>
				<key>sourceSize</key>
				<string>{850,850}</string>
			</dict>

			<key>bgCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2864},{600,1200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,1200}}</string>
				<key>sourceSize</key>
				<string>{600,1200}</string>
			</dict>

			<key>bgCircle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1660},{600,1200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,1200}}</string>
				<key>sourceSize</key>
				<string>{600,1200}</string>
			</dict>

			<key>bgNote.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,854},{802,802}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{802,802}}</string>
				<key>sourceSize</key>
				<string>{802,802}</string>
			</dict>

			<key>bgPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1660},{600,1100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,1100}}</string>
				<key>sourceSize</key>
				<string>{600,1100}</string>
			</dict>

			<key>bgPlay2.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,2764},{600,1100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,1100}}</string>
				<key>sourceSize</key>
				<string>{600,1100}</string>
			</dict>

			<key>bgPlayAd.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,3868},{600,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,102}}</string>
				<key>sourceSize</key>
				<string>{600,102}</string>
			</dict>

			<key>bgPlayRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,958},{600,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,800}}</string>
				<key>sourceSize</key>
				<string>{600,800}</string>
			</dict>

			<key>black_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2522,2124},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>black_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1798,2066},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>blue_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2406,1822},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>blue_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{2406,1520},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>blue_o_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,3586},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>blue_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,3365},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>blue_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2370,0},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>blue_x_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,2370},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>card0.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1315},{395,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{395,115}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1196},{395,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{395,115}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2825},{400,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,120}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,3073},{395,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{395,115}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2453},{400,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,120}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1077},{395,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{395,115}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card3_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2577},{400,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,120}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card4.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,958},{395,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{395,115}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card4_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2701},{400,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,120}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card5.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1434},{395,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{395,115}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>card5_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2949},{400,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,120}}</string>
				<key>sourceSize</key>
				<string>{400,120}</string>
			</dict>

			<key>crash.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{600,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,800}}</string>
				<key>sourceSize</key>
				<string>{600,800}</string>
			</dict>

			<key>en.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,3973},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>en_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,3973},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1736,3973},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>exit_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,3061},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>extend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,3948},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>extend_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,3073},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1553},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>facebook_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1553},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,608},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,3800},{148,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{148,144}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>green_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,0},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>green_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,2757},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>green_o_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,2674},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>green_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2066,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>home.png</key>
			<dict>
				<key>frame</key>
				<string>{{2256,3992},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>home_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2360,3888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>introIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,3800},{216,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,11},{216,225}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>ko.png</key>
			<dict>
				<key>frame</key>
				<string>{{2360,3992},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>ko_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2708,1614},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>leaderboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{2424,3440},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>leaderboard_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2464,3888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>line0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,3061},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,3669},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2102,1824},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line1g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,3282},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2116,912},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2116,1216},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line2g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,608},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,2978},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line3g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1798,1762},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,304},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line4b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1216},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line4g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,912},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2102,1520},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2066,608},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>line5g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2066,304},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>magnetN.png</key>
			<dict>
				<key>frame</key>
				<string>{{2370,302},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>magnetS.png</key>
			<dict>
				<key>frame</key>
				<string>{{2370,604},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>more.png</key>
			<dict>
				<key>frame</key>
				<string>{{2528,3440},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>more_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,3888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>movie.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,3992},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>movie_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2632,3336},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>musicOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{2632,3440},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>musicOff_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,604},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>musicOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,708},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>musicOn_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,3888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>null.png</key>
			<dict>
				<key>frame</key>
				<string>{{2708,1510},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>page1.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,804},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>page2.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,804},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>red_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2672,302},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>red_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,2453},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>red_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,3496},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>red_x_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,3192},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{2424,3336},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>replay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2464,3992},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1553},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>reset_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,3973},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2102,2128},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>shop_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2102,2232},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2152,3888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2152,3992},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>star2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2220,2732},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2220,2836},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>star3_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2256,3888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1520},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>start_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,3800},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>toast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,2374},{550,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,75}}</string>
				<key>sourceSize</key>
				<string>{550,75}</string>
			</dict>

			<key>white_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2424,2732},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>white_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,3496},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>yellow_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{2422,3586},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>yellow_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{2420,1208},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>yellow_o_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2420,906},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>yellow_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,3192},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>yellow_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2220,2128},{298,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{298,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>yellow_x_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,304},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>imagePlist.png</string>
			</dict>
		</dict>
</plist>